/* 文章页H1-H6图标样式效果  小风车  时间越短转动越快 
    -1turn 为逆时针转动，1turn 为顺时针转动
    此处改动参考文章：https://guole.fun/posts/butterfly-custom/
    风车颜色在 color.css中设置
*/
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

/* 图片下的说明文字居中 */
.jg-caption{
    text-align: center !important;
}

/* 滚动条美化 没有修改其他文件*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(109, 186, 130, 0.1);
    border-radius: 4em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(239, 78, 123, 0.1);
    background-image: -webkit-linear-gradient(
        0deg,
        rgba(247, 149, 51, 0.1) 0,
        rgba(243, 112, 85, 0.1) 15%,
        rgba(239, 78, 123, 0.1) 30%,
        rgba(161, 102, 171, 0.1) 44%,
        rgba(80, 115, 184, 0.1) 58%,
        rgba(16, 152, 173, 0.1) 72%,
        rgba(7, 179, 155, 0.1) 86%,
        rgba(109, 186, 130, 0.1) 100%
      );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: rgba(239, 78, 123, 0.1);
}
